altgraph==0.17.2
apispec==6.0.0
attrs==21.4.0
blake3==0.3.1
cbor2==5.4.3
click==8.1.3
daemonocle==1.2.3
docutils==0.19
falcon==3.1.0
hio==0.6.8
hjson==3.0.2
jsonschema==4.17.0
keri==0.6.8
lmdb==1.3.0
lockfile==0.12.2
macholib==1.16
mnemonic==0.20
msgpack==1.0.4
multicommand==1.0.0
multidict==6.0.2
netifaces==0.11.0
ordered-set==4.1.0
psutil==5.9.0
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyrsistent==0.18.1
pysodium==0.7.12
python-daemon==2.3.1
PyYAML==6.0
rumps==0.4.0
